h2 {
  font-family: 'Vujahday Script', cursive;
  font-size: 35px;
}

.app {
  height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs {
  flex-direction: column;
}

.flex input {
  margin: 20px auto;
}

.flex p {
  font-size: 20px;
}

.result {
  margin: 50px auto 0;
  width: 80vw;
  height: 200px;
}


.css-result {
  margin: 20px auto;
}

.css-result p {
  margin: 20px auto 60px;
  text-align: start;
  line-height: 2;
}